@model PTimex.Member

@{
    ViewBag.Title = "Details";
}

<h2></h2>

<div>
    <h4>Member details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Position.Name)*@
            Position
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position.Name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Project.Title)*@
            Project
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Title)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.User.FirstName)*@
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
