@model IEnumerable<PTimex.Member>

@{
    ViewBag.Title = "Members list";
}

<h2>Members list</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Position.Name)*@
            Member
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Project.Title)*@
            Project
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.User.FirstName)*@
            Position
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position.Name)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
